.App {
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.App-logo {
    height: 100%;
}

.App-header {
    background-color: blanchedalmond;
    height: 120px;
    color: white;
}

.App-title {
    background-color: blanchedalmond;
    height: 0px;
    padding-top: 10px;
    color: black;
}

.App-intro {
  font-size: large;
}
